<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&display=swap" rel="stylesheet">
</head>
<div class="ti">
  <h1 class="titulo">Conocenos</h1>
</div>
<mat-tab-group dynamicHeight color="primary" backgroundColor="accent"> 
    <mat-tab label="Sobre el sitio" >
      <div style="float: left" class="example-small-box mat-elevation-z4">
        <b>IMPORTANTE</b>
      </div>
      <P id="explicacion"> Este sitio web <strong>AKA | BAR</strong> es referebte a un bar, el sitio almacena reservaciones, en l apagina de Agendar, estas reservaciones, se observan en Citas</P>
    </mat-tab>
    <mat-tab label="Importante"  >
      <div style="text-align: center;" class="example-large-box mat-elevation-z4">
        EL SITIO NO TIENE RELACION CON NINGUN BAR EN LA VIDA REAL, ESTA ELEABORADO MERAMENTE PARA FINES EDUCATIVOS. ESTE SITIO ESTA CREADO PARA EVALUACION DE LA MATERIA DE TECNOLOGIAS WEB, DE LA CARRERA DE INGENIERIA EN SISTEMAS COMPUTACIONALES 
      </div>
    </mat-tab>
</mat-tab-group>
  
  <mat-tab-group dynamicHeight color="primary" backgroundColor="warn">
    <mat-tab label="Kenya Josselin Garcia Salazar">
      <div class="example-large-box mat-elevation-z4" style="float: left">
        <p><b>ID:</b> 211394<br> 
            <b>Carrera:</b> Ingeneria en Sistemas Computacionales<br><br>
            Universidad Autonoma de Aguascalientes
        </p>
      </div>
      <img src="assets/imagenes/kenya.jpg" alt="">
    </mat-tab>
    <mat-tab label="Andres Noriega Villalobos">
        <div class="example-large-box mat-elevation-z4" style="float: left">
            <p><b>ID:</b> 253687<br> 
                <b>Carrera:</b> Ingeneria en Sistemas Computacionales<br><br>
                Universidad Autonoma de Aguascalientes
            </p>
        </div>
        <img src="assets/imagenes/andres.jpg" alt="">
      </mat-tab>
      <mat-tab label="Ariadna Judith Rosas Aguilar">
        <div class="example-large-box mat-elevation-z4" style="float: left">
            <p><b>ID:</b> 299012<br> 
                <b>Carrera:</b> Ingeneria en Sistemas Computacionales<br><br>
                Universidad Autonoma de Aguascalientes
            </p>
        </div>
        <img src="assets/imagenes/ariadna.jpg" alt="">
      </mat-tab>
  </mat-tab-group>
  
