<body>
    <div class="ti">
        <h1 class="titulo">GALERIA</h1>
    </div>
    <div class="grid-wrapper">
        <div>
            <img src="assets/imagenes/13.png" alt="" />
        </div>
        <div>
            <img src="assets/imagenes/4.png" alt="" />
        </div>
        <div class="tall">
            <img src="assets/imagenes/6.png" alt="">
        </div>
        <div class="wide">
            <img src="assets/imagenes/7.png" alt="" />
        </div>
        <div>
            <img src="assets/imagenes/11.png" alt="" />
        </div>
        <div class="tall">
            <img src="assets/imagenes/12.png" alt="" />
        </div>
        <div class="big">
            <img src="assets/imagenes/1.jpg" alt="" />
        </div>
        <div>
            <img src="assets/imagenes/14.png" alt="" />
        </div>
        <div class="wide">
            <img src="assets/imagenes/15.png" alt="" />
        </div>
        <div class="big">
            <img src="assets/imagenes/16.png" alt="" />
        </div>
        <div class="tall">
            <img src="assets/imagenes/17.png" alt="" />
        </div>
        <div>
            <img src="assets/imagenes/18.png" alt="" />
        </div>
        <div>
            <img src="assets/imagenes/19.png" alt="" />
        </div>
        <div>
            <img src="assets/imagenes/20.png" alt="" />
        </div>
    </div>
</body>
